<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <script src="js/signup.js"></script> -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div class="container h-97">
            <div class="text-center h-60">
                <div class="header-container h-15"></div>
                <div class="row h-75 pb-5">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="rounded-outline text-start shadow p-3 bg-body rounded h-100 d-flex flex-column align-items-center justify-content-center">
                            <div class="alert alert-primary" role="alert">
                                Home Page!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </body>
</html>