<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTTW</title>
    <!-- https://stackoverflow.com/questions/48248832/stylesheet-not-loaded-because-of-mime-type -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script>
        if (document.cookie) {
            location.replace('/home') // Already logged in, go to home page
        }
    </script>
</head>

<body>
    <div class="container">
        <div class=" text-center">
            <u class="h1">No Time To Weight</u>
            <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="user">Username</label>
                  <input class="form-control" id="user" placeholder="Username">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="pass">Password</label>
                  <input type="password" class="form-control" id="pass" placeholder="Password">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                </div>
                <button type="submit" class="btn btn-default">Sign in</button>
              </form>
            <button id="test" type="button">Test</button>
            <button id="logout" type="button">Logout</button>
            <nav>
                <span><a href="/signup" id="signup">sign-up</a></span>
            </nav>
        </div>
        <% for( let i = 0; i < quotes.length; i++ ) { %>
            <% if (i % 2) { %>
                <blockquote class="blockquote-reverse">
                    <p><%= quotes[i].quote %></p>
                    <footer><%= quotes[i].author %></footer>
                </blockquote>
            <% } else { %>
                <blockquote>
                    <p><%= quotes[i].quote %></p>
                    <footer><%= quotes[i].author %></footer>
                </blockquote>
            <% } %> 
        <% } %>       
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>

</html>