<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTTW</title>
    <!-- https://stackoverflow.com/questions/48248832/stylesheet-not-loaded-because-of-mime-type -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <script>
        if (document.cookie) {
            // location.replace('/home') // Already logged in, go to home page
        }
    </script>
</head>

<body>
    <div class="container h-100">
        <div class="text-center h-60">
            <div class="header-container h-25">
                <u class="h1">No Time To Weight</u>
            </div>
            <div class="row h-75 pb-5">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="rounded-outline text-start shadow p-3 bg-body rounded h-100 d-flex flex-column align-items-center justify-content-center">
                        <div>Login</div>
                        <form class="w-100 d-flex flex-column align-items-center justify-content-center">
                            <div class="form-group w-75 p-1">
                                <label class="text-secondary" for="user">Username</label>
                                <input type="email" class="form-control" id="user" placeholder="Username">
                            </div>
                            <div class="form-group w-75 p-1">
                                <label class="text-secondary" for="pass">Password</label>
                                <input type="password" class="form-control" id="pass" placeholder="Password">
                            </div>
                            <div class="btn-group p-1">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                                <a class="btn btn-primary" href="/signup" id="signup">Sign up</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <div class="quotes-container h-40">
            <% for( let i=0; i < quotes.length; i++ ) { %>
                <% if (i % 2) { %>
                    <blockquote class="blockquote text-end">
                        <p><%= quotes[i].quote %></p>
                        <footer class="blockquote-footer"><%= quotes[i].author %></footer>
                    </blockquote>
                <% } else { %>
                        <blockquote class="blockquote">
                            <p><%= quotes[i].quote %></p>
                            <footer class="blockquote-footer"><%= quotes[i].author %></footer>
                        </blockquote>
                <% } %>
            <% } %>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    Latest compiled and minified JavaScript
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>