<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="js/signup.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <form id="signup">
            <input type="text" placeholder="email" name="email">
            <input type="text" placeholder="user" name="user">
            <input type="text" placeholder="pass" name="pass">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>