body {
    height: 100vh;
    width: 100vw;
    background-color: #eee;
}

blockquote {
    border-left: 5px solid #ddd;
    padding: 1%;
}

.hidden {
    display: none !important;
}

.footer-btn {
    color: inherit !important;
    text-decoration: none;
}

.footer-btn:hover {
    text-decoration: underline;
}

.blockquote.text-end {
    border-left: 0;
    border-right: 5px solid #ddd;
}

.quotes-container {
    overflow: auto;
}

.h-3 {
    height: 3% !important;
}

.h-15 {
    height: 15% !important;
}

.h-40 {
    height: 40% !important;
}

.h-55 {
    height: 55% !important;
}

.h-60 {
    height: 60% !important;
}

.h-97 {
    height: 97% !important;
}

.footer {
    background-color: blanchedalmond;
    bottom: 0px;
}
