* {
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    height: 100%;
}

.header-container {
    padding: 2%;
}

.rounded-outline {
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
}

.quotes-container {
    margin-top: 5%;
}